/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 5068291 */
  src: url('//at.alicdn.com/t/c/font_5068291_wj5bo6p151o.woff2?t=1763454940527') format('woff2'),
       url('//at.alicdn.com/t/c/font_5068291_wj5bo6p151o.woff?t=1763454940527') format('woff'),
       url('//at.alicdn.com/t/c/font_5068291_wj5bo6p151o.ttf?t=1763454940527') format('truetype');
}