@font-face {
  font-family: "iconfont"; /* Project id 5068291 */
  src: url('iconfont.woff2?t=1763455197469') format('woff2'),
       url('iconfont.woff?t=1763455197469') format('woff'),
       url('iconfont.ttf?t=1763455197469') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-scholar:before {
  content: "\e607";
}

.icon-bilibili:before {
  content: "\e600";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-googlescholar2:before {
  content: "\e761";
}

.icon-bilibili1:before {
  content: "\e609";
}

.icon-researchgate_:before {
  content: "\e9dd";
}

.icon-juxingbeifen:before {
  content: "\e646";
}

.icon-googlescholar:before {
  content: "\ebae";
}

.icon-researchgate:before {
  content: "\ec7e";
}

